---
layout: default
title: Lach Landing
---

<!--
    Landing Page for Brand Website
    HTML5 source code
    Author: Lach
    Version: 1.0
-->
<!-- Makes the site have that vertical phone look -->
<div id="resolution">

    <!-- Navbar header that will have links, home, and shop -->
    <header id="navbar" class="resolution-item">
        <a href="">
            LINKS
        </a>
        <a href="">
            HOME
        </a>
        <a href="">
            SHOP
        </a>
    </header>

    <!-- Profile picture and name -->
    <section id="profile-picture-section" class="resolution-item">
        <!-- Profile picture -->
        <img src="assets/profile_lachmood.png" alt="Lach's Profile Picture" id="profile-picture">
        <!-- Name -->
            <h2 id="name">Lach</h2>
    </section>
    
    <!-- Icon List Section -->
    <section id="icon-list-section" class="resolution-item">
        {% include icons-list.html %}
    </section>

    <!-- Social Links Section-->
    <section id="social-links-section" class="resolution-item">
        {% include social-links.html %}
    </section>
    
</div>