#social-links-section {
    /* Make it a vertical grid */
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */

    /* Give some gap between items */
    gap: 15px;
}

#social-links-section a {
    /* Remove underline from links */
    text-decoration: none;

    /* Make links no longer turn blue or purple */
    color: inherit;
}

.social-link-button {
    /* Makes absolute positioning work later */
    position: relative;

    /* Give it a background colour */
    background-color: var(--social-link-background-color);
    /* Give it a solid border */
    border: 2px solid var(--social-link-border-color);
    border-radius: 8px;
    /* Make it a bit taller */
    height: 38px;
    /* Give it some padding */
    padding: 10px 0;

    /* Make it a flex */
    display: flex;
    /* Center the items vertically */
    align-items: center;
    /* Center content */
    justify-content: center;

    /* Set transition rules */
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.social-link-button:hover {
    /* Scale up on hover */
    transform: scale(1.05);
    /* Change background color on hover */
    filter: brightness(90%);
}

.social-link-button p {
    /* Center the text */
    text-align: center;

    /* Change font-size */
    font-size: 1.5rem;

    /* Remove margin */
    margin: 0px;

    /* Center self */
    justify-self: center;
}

.social-icon {
    /* Make it absolute within the button */
    position: absolute;
    /* Give it 15px from the left */
    left: 2px;
    /* Center in middle */
    top: 50%;
    /* Centers it? Vertically */
    transform: translateY(-50%);
}

.social-text {
    text-align: center;
    font-size: 1.2rem;
}

/* Media Specific Colors */

#social-links-section a i {
    /* Color transformation rules */
    transition: color 0.3s ease;
}

/* TikTok (but only the icon*/
#social-links-section a#tiktok:hover i {
    color: var(--tiktok-color);
}

/* YouTube */
#social-links-section a#youtube:hover i {
    color: var(--youtube-color);
}

/* Instagram */
#social-links-section a#instagram:hover i {
    color: var(--instagram-color);
}

/* Twitter */
#social-links-section a#twitter:hover i {
    color: var(--twitter-color);
}

/* Twitch */
#social-links-section a#twitch:hover i {
    color: var(--twitch-color);
}